html {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.main {
  display: flex;
  flex-direction: column;
}

.choice {
  margin-top: 55px;
  margin-bottom: 35px;
}

.message form {
  display: flex;
  flex-direction: column;
}

.question-label {
  margin-bottom: 10px;
  text-align: center;
}

.user-message {
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  background-color: #fff;
  margin-bottom: 35px;
  text-align: center;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
}

.user-key {
  margin-bottom: 55px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  height: 30px;
  text-align: center;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
}

.answer {
  flex-grow: 1;
  margin: 50px auto;
  width: 1000px;
}
.question {
  flex-grow: 1;
}

.show-result {
  background-color: #ececf1;
  height: 60px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.copy-result {
  width: 50%;
  margin: 40px auto;
  background-color: #ececf1;
  height: 40px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.result__message {
  text-align: center;
  word-wrap: break-word;
}
/* //////////////////////////////////////////////////////////////////////// */

* {
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
}
.wrapper {
  width: 100%;
  height: 80px;
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.radio_group {
  width: 100px;
  height: 50px;
  margin: 5px;
  position: relative;
  text-align: center;
  line-height: 50px;
  font-size: 40px;
}

.radio_group input[type='radio'] {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  z-index: 1;
  cursor: pointer;
}

.radio_group input[type='radio'] + label {
  color: #95a5a6;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(1);
}
.radio_group input[type='radio']:checked + label {
  transform: scale(1.5);
}

.choice-text {
  text-align: center;
}

/* ////////////////////////////////////////////////////////////////////// */

.tooltip {
  position: relative;
  display: inline-block;
  margin: auto;
  width: 100%;
  text-align: center;
  align-items: center;
}

.tooltip .tooltiptext {
  text-transform: initial;
  visibility: hidden;
  width: 200px;
  font-size: 18px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 70%;
  left: 47%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 450px) {
  .choice {
    margin-bottom: 25px;
    margin-top: 40px;
  }
  .choice-text {
    font-size: 18px;
    margin: auto;
  }
  .user-message {
    width: 80%;
    margin: auto;
    font-size: 20px;
  }
  .user-key {
    margin-bottom: 35px;
    width: 80%;
    margin: auto;
    font-size: 20px;
  }
  .question-label {
    margin-top: 15px;
  }
  .show-result {
    width: 70%;
    height: 40px;
    margin: 30px auto;
    font-size: 18px;
  }
  .copy-result {
    margin: 15px auto;
    height: 30px;
    font-size: 16px;
  }
  .result__message {
    margin: auto;
    padding: 0 10px;
  }
  .answer {
    margin: 35px auto;
    width: 330px;
  }
  .wrapper {
    width: 95%;
    margin: auto;
  }
  .radio_group {
    width: 40px;
  }
  .radio_group input[type='radio'] {
    cursor: default;
  }
}
